/*.cabecalho {
    width: 100%;
    height: 80px;
    background-color: aqua;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/862/510/547/plant-cherry-blossom-blossom-flower-wallpaper-preview.jpg);
    background-blend-mode: normal;
    background-size: cover;
    border-radius: 5px;
    align-items: center;

    position: fixed;
}*/

.flex {
    display: flex;
}

/* .empresa {
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
} */
header nav {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/862/510/547/plant-cherry-blossom-blossom-flower-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header nav section {
    height: 5.5rem;
    width: 100%;
}

nav #menu {
    height: 3rem;
    display: flex;
    align-items: center;
}

#Logo-Nome-Empresa img {
    width: 40px;
    justify-content: center;
    align-items: center;
}

#Logo-Nome-Empresa h5 {
    color: rgba(167, 3, 3, 0.946);
    margin-top: 10px;
}

/* #search-bar {
    width: 100%;
    display: flex;
} */

.menu {
    width: auto;
}

.pesquisa {
    padding-left: 38%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.pesquisa-menu {
    width: 300px;
}

.navegacao a {
    margin-left: 130px;
    display: inline-flex;
    justify-content: space-around;
}

a:visited {
    color: blue;
}

a:hover {
    color: pink;
    background-color: rgb(98, 154, 250);
}

a:active {
    color: black;
}

.main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* background-image: url("./cerejeira-lateral.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.card {
    font-size: 1rem;
    width: 250px;
    height: 450px;
    background-color: #fff2f4;
    border: 7px solid pink;
    border-radius: 10px;
    /* object-fit: cover; */

    margin: 20px;
}

.contato {
    padding-top: 70px;
    /* justify-content: center; */

    /* background-image: url("./crianca-cerejeira.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.fale-conosco {
    text-align: center;
    margin-top: 30px;
}

.imagem-fundo {
    background-image: url("./petalas-cerejeira1.png");
    background-blend-mode: color-burn;
    /* background-blend-mode: color-dodge; */
    background-size: cover;
}

.coracao {
    width: 20px;
    display: block;
    margin-left: 220px;
    margin-top: 10px;
}

.imagem-remedio {
    width: 220px;
    margin-left: 15px;
    margin-top: 10px;
}

.corpo-remedio {
    text-align: center;
}

.footer-remedio {
    display: inline-flex;
    margin-left: 82.5px;
}

.botao-adicionar {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/582976-icone-botao-mais-gratis-vetor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 85px;
    text-align: right;
}

.formulario {
    width: 300px;
    font-family: 'Times New Roman';
    margin-left: 31%;
    background-color: #fff2f4;
    background-image: url("./petalas-cerejeira1.png");
    background-blend-mode: color-burn;
    background-size: cover;
}

.dados {
    margin-top: 10px;
    text-align: justify;
}

.input-field1 {
    width: 300px;
    margin-left: 44px;
}

.input-field2 {
    width: 300px;
    margin-left: 27px;
}

.opcoes {
    margin-left: 46px;
}

.botao-enviar {
    margin-left: 340px;
}